{#!
 # Freelancer for Pico v2.0.7 (https://github.com/mayamcdougall/freelancer-pico)
 # Ported by Maya McDougall (https://github.com/mayamcdougall)
 # Based on upstream Freelancer v7.0.4 by Start Bootstrap (https://startbootstrap.com/theme/freelancer)
 # Licensed under MIT (https://github.com/mayamcdougall/freelancer-pico/blob/main/LICENSE)
 #}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ (meta.description ? meta.description : index.description ? index.description : index.header.skills ? index.header.skills : index.about.content ? index.about.content[:200])|striptags }}" />
    {% if index.robots %}<meta name="robots" content="{{ index.robots }}">{% endif %}
    <link rel="canonical" href="{{ current_page.url }}" />
    <title>{{ single_page_mode and meta.title ? meta.title ~ " | " }}{{ index.title ? index.title : site_title }}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ index.favicon ? index.favicon|url : theme_url ~ "/assets/favicon.ico" }}" />
    <!-- Font Awesome icons (free version)-->
    <script src="{{ theme_url }}/js/fontawesome.js"></script>
    <!-- Google fonts-->
    <link href="{{ theme_url }}/css/fonts.css" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ theme_url }}/css/styles.css" rel="stylesheet" />
    <!-- Bootstrap core JS-->
    <script src="{{ theme_url }}/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script> var single_page_mode = {{ single_page_mode ? "true" : "false" }};</script>
    <script src="{{ theme_url }}/js/scripts.js"></script>

    {# Contact Form Scripts #}
    {% if index.contact.form.enabled and not index.contact.disabled and not single_page_mode %}
        <script src="{{ theme_url }}/js/jquery.min.js"></script>
        <script src="{{ theme_url }}/js/contact.js"></script>
    {% endif %}

    {# User CSS & Fonts #}
    {% if index.css %}
        {% set stylesheets = index.css is iterable ? index.css : [index.css] %}
        {% for stylesheet in stylesheets %}
            <link rel="stylesheet" href="{{ stylesheet|url }}" type="text/css">
        {% endfor %}
    {% endif %}

    {% if index.fonts %}
        {% set fonts = index.fonts is iterable ? index.fonts : [index.fonts] %}
        {% for font in fonts %}
            <link href='{{ font|url }}' rel='stylesheet' type='text/css'>
        {% endfor %}
    {% endif %}

    {# Open Graph #}
    <meta property="og:title" content="{{ meta.title ? meta.title ~ " | " }}{{ index.title ? index.title : site_title }}">
    <meta property="og:description" content="{{ (meta.description ? meta.description : index.description ? index.description : index.header.skills ? index.header.skills : index.about.content ? index.about.content[:200])|striptags }}">
    <meta property="og:url" content="{{ current_page.url }}">
    <meta property="og:type" content="website">
    {% if index.og_image %}<meta property="og:image" content="{{ index.og_image|url }}">{% endif %}
</head>
