{#!
 # Freelancer for Pico v2.0.7 (https://github.com/mayamcdougall/freelancer-pico)
 # Ported by Maya McDougall (https://github.com/mayamcdougall)
 # Based on upstream Freelancer v7.0.4 by Start Bootstrap (https://startbootstrap.com/theme/freelancer)
 # Licensed under MIT (https://github.com/mayamcdougall/freelancer-pico/blob/main/LICENSE)
 #}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ single_page_mode ? base_url }}#page-top">{{ index.title ? index.title : site_title }}</a>
        {% if not (index.portfolio.disabled and index.about.disabled and index.contact.disabled) %}
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    {% if not index.portfolio.disabled %}<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ single_page_mode ? base_url }}#portfolio">{{ index.nav.portfolio ? index.nav.portfolio : index.portfolio.title ? index.portfolio.title : "Portfolio" }}</a></li>{% endif %}
                    {% if not index.about.disabled %}<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ single_page_mode ? base_url }}#about">{{ index.nav.about ? index.nav.about : index.about.title ? index.about.title : "About" }}</a></li>{% endif %}
                    {% if not index.contact.disabled %}<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ single_page_mode ? base_url }}#contact">{{ index.nav.contact ? index.nav.contact : index.contact.title ? index.contact.title : "Contact" }}</a></li>{% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</nav>
